<%= form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.text_field :title, :class => 'text_field', :placeholder => 'Title of post' %>
    <%= f.file_field :image, :class => 'btn' %>
  </div>
  <div class="control-group">
    <%= f.text_area :lead, :class => 'text_field', :placeholder => 'Lead of post', :style => "width: 99%;" %>
  </div>
  <div class="control-group">
    <div class="controls ace">
        <%= f.text_area :content, :id => "content_textarea" %>
        <div id='content_ace'></div>
  </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
  </div>
<% end %>
