<%- model_class = Post -%>
<h1>Posts <small class='muted'>most recent first</small></h1>
<p class='muted'>On the homepage, both popular and recent posts are shown. Sticky posts will be displayed in the carrousal.</p>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr class="<%= post.sticky ? "info" : "" %>">
        <td><%= link_to " " + post.title, edit_post_path(post), :style => "width: 100%; display: block;", :class => "entypo-pencil" %></td>
        <td><%= time_ago_in_words post.created_at %> ago</td>
        <td style='text-align: right'>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      post_path(post),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '+ Post',
            new_post_path,
            :class => 'btn btn-primary' %>

