    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
          
        // Data
        var hours = google.visualization.arrayToDataTable(
          <%= raw Pageview.hours.to_json %>
        );
        var days = google.visualization.arrayToDataTable(
          <%= raw Pageview.days.to_json %>
        );
        var weeks = google.visualization.arrayToDataTable(
          <%= raw Pageview.weeks.to_json %>
        );
        var quarters = google.visualization.arrayToDataTable(
          <%= raw Pageview.quarters.to_json %>
        );
        var years = google.visualization.arrayToDataTable(
          <%= raw Pageview.years.to_json %>
        );
        
        //Options
        var options1 = {
          vAxis: {minValue: 0},
          hAxis: {direction: -1,slantedText: true, slantedTextAngle:1},
          orientation: "horizontal",
          curveType:'function',
          lineWidth: 2,
          intervals: { 'style':'line' },
          fontSize: 10 
        };
        var options2 = {
          vAxis: {minValue: 0},
          hAxis: {direction: -1,slantedText: true, slantedTextAngle:45},
          orientation: "horizontal",
          curveType:'function',
          lineWidth: 2,
          intervals: { 'style':'line' },
          fontSize: 10 
        };
        var options3 = {
          vAxis: {minValue: 0},
          hAxis: {direction: -1,slantedText: true, slantedTextAngle:90},
          orientation: "horizontal",
          curveType:'function',
          lineWidth: 2,
          intervals: { 'style':'line' },
          fontSize: 10 
        };
        
        
        
        //Targets
        var chartHours = new google.visualization.LineChart(document.getElementById('chart_div_hours'));
        var chartDays = new google.visualization.LineChart(document.getElementById('chart_div_days'));
        var chartQuarters = new google.visualization.BarChart(document.getElementById('chart_div_quarters'));
        var chartYears = new google.visualization.BarChart(document.getElementById('chart_div_years'));
        var chartWeeks = new google.visualization.LineChart(document.getElementById('chart_div_weeks'));

        
        //Fire
        chartHours.draw(hours, options3);
        chartDays.draw(days, options2);
        chartWeeks.draw(weeks, options1);
        chartQuarters.draw(quarters, options1);
        chartYears.draw(years, options1);
      }


      
      
    </script>

    
<h1>Statistics</h1>

<script>
  
</script>
<div id="charts">
    <h2><a name="24hours">Last day</a></h2>
    <p>Pageviews per hour</p>
    <div id="chart_div_hours" style="width: 100%; height: 200px; display: inline-block;"></div>
    <h2><a name="14days">Past week</a></h2>
    <p>Pageviews per day</p>
    <div id="chart_div_days" style="width: 100%; height: 200px; display: inline-block;"></div>
    <h2><a name="6months">Past quarter</a></h2>
    <p>Pageviews per week</p>
    <div id="chart_div_weeks" style="width: 100%; height: 200px; display: inline-block;"></div>
    <h2><a name="3years">Past year</a></h2>
    <p>Pageviews per quarter</p>
    <div id="chart_div_quarters" style="width: 100%; height: 200px; display: inline-block;"></div>
    <h2><a name="10years">Past 5 years</a></h2>
    <p>Pageviews per year</p>
    <div id="chart_div_years" style="width: 100%; height: 200px; display: inline-block;"></div>
</div>

