    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
          
        // Data
        var hours = google.visualization.arrayToDataTable(
          <%= raw Pageview.hours.to_json %>
        );
        var days = google.visualization.arrayToDataTable(
          <%= raw Pageview.days.to_json %>
        );
        var weeks = google.visualization.arrayToDataTable(
          <%= raw Pageview.weeks.to_json %>
        );
        var quarters = google.visualization.arrayToDataTable(
          <%= raw Pageview.quarters.to_json %>
        );
        var years = google.visualization.arrayToDataTable(
          <%= raw Pageview.years.to_json %>
        );
        
        //Options
        var options = {
          legend: 'none',
          vAxis: {minValue: 0},
          hAxis: {direction: -1},
          orientation: "horizontal",
          curveType:'function',
          lineWidth: 2,
          intervals: { 'style':'line' }
        };
        
        //Targets
        var chartHours = new google.visualization.LineChart(document.getElementById('chart_div_hours'));
        var chartDays = new google.visualization.BarChart(document.getElementById('chart_div_days'));
        var chartWeeks = new google.visualization.LineChart(document.getElementById('chart_div_weeks'));
        var chartQuarters = new google.visualization.AreaChart(document.getElementById('chart_div_quarters'));
        var chartYears = new google.visualization.AreaChart(document.getElementById('chart_div_years'));
        
        //Fire
        chartHours.draw(hours, options);
        chartDays.draw(days, options);
        chartWeeks.draw(weeks, options);
        chartQuarters.draw(quarters, options);
        chartYears.draw(years, options);
      }


      
      
    </script>
<h1>Statistics</h1>

<script>
  
</script>
    <h2>Past 24 hours</h2>
    <div id="chart_div_hours" style="width: 100%; height: 500px; display: inline-block;"></div>
    <h2>Past 14 days</h2>
    <div id="chart_div_days" style="width: 100%; height: 500px; display: inline-block;"></div>
    <h2>Past 6 months</h2>
    <div id="chart_div_weeks" style="width: 100%; height: 500px; display: inline-block;"></div>
    <h2>Past 3 years in quarters</h2>
    <div id="chart_div_quarters" style="width: 100%; height: 500px; display: inline-block;"></div>
    <h2>Past 3 years</h2>
    <div id="chart_div_years" style="width: 100%; height: 500px; display: inline-block;"></div>


